extends ../jade/layouts/layout
prepend page
  - title= 'thesongsays | Releases'
block contents
  h1 Releases
  section
    ul
      each release in helpers.sortByProp(releases, 'id')
        li 
          a(href='/releases/#{release.slug}') #{release.artist} - #{release.title} (#{release.date}) #{release.id}
