extends ./layout
block contents
  - artistReleases= helpers.getReleasesByArtist(artist, releases)
  - artistObject= helpers.getArtist(artist, artistData)
  div.artist-header(style="background-image: url(/imgs/artists/#{artistObject[0].images.large})")
    div.grid
      div.grid-cell-12
        h1.section-header= artist
  div.artist-container
    div.grid
      block artistContents
      append block artistContents
        div.grid-cell-3
          h3.artist-releases-header Releases
          ul.artist-release-list
            if(artistReleases.length > 0 )
              each release in artistReleases
                li
                  a(href="/releases/#{release.slug}")
                    div.artist-release 
                      - releaseCaption = helpers.releaseCaption(release)
                      - releaseFormattedCaption = (releaseCaption) ? releaseCaption : ''
                      span.title #{release.title} <br />
                      if releaseFormattedCaption
                        span.title #{releaseFormattedCaption} <br />
                      span.date #{release.date}<br />
                      span.catalog-id #{release.catalogId}
                    img(src="/imgs/releases/covers/#{release.images.thumbnail}")
            else 
              li New release coming soon...
